#
# INSTALL CONFIG
#
BASE_URL="http://farmabios.e-scientia.eu"
BASE_APP=""
DEFAULT_APP="intranet"
DEFAULT_LANGUAGE="IT"
DB_ADDRESS="127.0.0.1"
DB_USER="root"
DB_PASSWORD="1toor!"
APPS="intranet|magazzino"
ACCOUNTS=1
LOGLEVEL="debug"

#
# APPS CONFIG
#
DB_NAME_magazzino="farmabios"
ADD_TPL_magazzino="N"
DB_NAME_intranet="farmabios"
ADD_TPL_intranet="N"