<html>
	<head>
		<title>[tokens.PAGEAPPTITLE]</title>
		<link rel="stylesheet" href="[base_url]/include/css/jquery-ui.min.css">
		<link rel="stylesheet" href="[base_url]/include/css/jquery-ui.structure.min.css">
		<link rel="stylesheet" href="[base_url]/include/css/jquery-ui.theme.min.css">
		<link rel="stylesheet" href="[base_url]/include/css/bootstrap.min.css">
		<link rel="stylesheet" href="[base_url]/include/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="[base_url]/include/css/jquery.bdt.min.css">
		<link rel="stylesheet" href="[base_url]/include/css/font-awesome.css">
		<link rel="stylesheet" href="[base_url]/include/css/icomoon.css">
		<link rel="stylesheet" href="[base_url]/include/css/parsley.css">
		[app;onformat='genCssInclude';strconv=no]
		[section;onformat='genCssInclude';strconv=no]
	</head>
	<body>
		<div class="container">
			<div class="nologin">
				<h1>App di [uname]</h1>
				<ul>
					<li><a href="/app/logout/">Logout</a></li>
				</ul>
			</div>